* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    height: 4000px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 36px;
}

.logo {
    width: 78px;
}

@media (max-width: 960px) {
    nav {
        display: none;
    }
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 36px;
}

.navbar-link {
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(152, 147, 163, 1);
    transition: all 0.2s
}

.navbar-link:hover {
    color: rgba(47, 46, 65, 1);
}

.navbar-link:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: rgba(158, 153, 255, 1);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.2s
}

.navbar-link:hover:after {
    width: 100%;
}

.actions {
    display: flex;
    gap: 16px;
}

@media (max-width: 960px) {
    .actions {
        display: none;
    }
}

.action-btn {
    padding: 16px 30px;
    border: 1px solid rgba(108, 99, 255, 1);
    cursor: pointer;
    border-radius: 2px;
    font-family: Open Sans, serif;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.2s;
    width: fit-content;
}

.login-btn {
    background-color: transparent;
    color: rgba(108, 99, 255, 1);
}

.login-btn:hover {
    background-color: rgba(108, 99, 255, 1);
    color: #ffffff;
}

.get-started-btn {
    background-color: rgba(108, 99, 255, 1);
    color: #ffffff;
}

.get-started-btn:hover {
    background-color: transparent;
    color: rgba(108, 99, 255, 1);
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

@media (max-width: 960px) {
    .burger-menu {
        display: flex;
    }
}

.line {
    width: 25px;
    height: 3px;
    background-color: rgba(108, 99, 255, 1);
    border-radius: 1px;
}

.hero-section {
    margin-top: 39px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 960px) {
    .hero-section {
        flex-direction: column;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.hero-title {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: rgba(47, 46, 65, 1);
}

@media (max-width: 1168px) {
    .hero-title {
        font-size: 60px;
    }
}

@media (max-width: 960px) {
    .hero-title {
        font-size: 86px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 46px;
        line-height: 50px;
    }
}


.hero-description {
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: rgba(152, 147, 163, 1);
    max-width: 489px;
}

.hero-banner {
    width: 642px;
}

@media (max-width: 1280px) {
    .hero-banner {
        width: 500px;
    }
}

@media (max-width: 1168px) {
    .hero-banner {
        width: 460px;
    }
}

@media (max-width: 960px) {
    .hero-banner {
        width: 100%;
    }
}

.testimonials-section {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}

@media (max-width: 768px) {
    .testimonials-section-desktop {
        display: none;
    }
}

.testimonials-section-mobile {
    display: none;
}

@media (max-width: 768px) {
    .testimonials-section-mobile {
        display: flex;
        flex-direction: column;
        gap: 33px;
    }
}

.testimonials-logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 46px;
}

@media (max-width: 576px) {
    .flex-center {
        gap: 16px;
    }
}

.testimonials-section-mobile img {
    width: 80px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.detailed-examination-section {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 220px;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 960px) {
    .detailed-examination-section {
        flex-direction: column-reverse;
    }
}

.detailed-examination-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 24px;
}

@media (max-width: 960px) {
    .detailed-examination-content {
        max-width: none;
    }
}

.detailed-examination-banner-wrapper {
    width: 600px;
}

@media (max-width: 1280px) {
    .detailed-examination-banner-wrapper {
        width: 500px;
    }
}

@media (max-width: 1168px) {
    .detailed-examination-banner-wrapper {
        width: 420px;
    }
}

@media (max-width: 960px) {
    .detailed-examination-banner-wrapper {
        width: 100%;
    }
}

.detailed-examination-banner {
    width: 100%;
}

.detailed-examination-title {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: rgba(47, 46, 65, 1);
}

@media (max-width: 576px) {
    .detailed-examination-title {
        font-size: 34px;
        line-height: 40px;
    }
}

.detailed-examination-description {
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: rgba(152, 147, 163, 1);
}

.detailed-examination-link {
    font-family: Open Sans, serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: rgba(47, 46, 65, 1);
    text-decoration: none;
    padding-inline: 4px;
    width: fit-content;
}

.detailed-examination-link:before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgba(197, 194, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.pricing-section {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.pricing-section h2 {
    text-align: center;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: rgba(47, 46, 65, 1);
}

@media (max-width: 576px) {
    .pricing-section h2 {
        font-size: 34px;
        line-height: 40px;
    }
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 960px) {
    .pricing-cards {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .pricing-cards {
        gap: 0;
    }
}

.pricing-card {
    background-color: rgba(236, 235, 255, 0.3);
    width: 363px;
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    padding: 46px 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 960px) {
    .pricing-card {
        width: 100%;
    }
}

.pricing-card:hover {
    background-color: rgba(108, 99, 255, 1);
    transition: all 0.2s;
    padding: 80px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-card:hover p,
.pricing-card:hover h3,
.pricing-card:hover span {
    color: #ffffff;
}

.pricing-card:hover li {
    color: rgba(255, 255, 255, 0.8);
}

.pricing-card:hover .pricing-btn {
    background-color: #fff;
}

.pricing-btn:hover {
    color: rgba(108, 99, 255, 1);
}

.pricing-card p {
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(113, 112, 130, 1);
}

.pricing-card h3 {
    font-family: Open Sans, serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -2px;
    color: rgba(47, 46, 65, 1);
}

.pricing-card span {
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 56px;
    color: rgba(47, 46, 65, 1);
}

.pricing-card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 14px;
}

.pricing-card li {
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(113, 112, 130, 1);
}

.blog-section {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-header h2 {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: rgba(47, 46, 65, 1);
}

.blog-header button {
    height: 51px;
}
